.containerxt {
  display: flex;
  /*margin-top: 50px;*/
  /*overflow-x: visible;*/
  /*overflow-y: overlay;*/
  overflow-x: scroll;
  overflow-y: visible;
  white-space: nowrap;
  position: relative;
  -ms-overflow-style: none;
}

.item {
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
  /*height: 225px;*/
}

.container:focus-within .item, .container:hover .item {
  transform: translateX(25%);
  /*height: 500px;*/
}

.item:focus ~ .item, .item:hover ~ .item {
  transform: translateX(15%);
}

.container .item:focus, .container .item:hover {
  margin-left: 45px;
  transform: scale(1.2);
  z-index: 1;
}

.item img {
  display: block;
  max-width: 100%;
}

.item::after {
}

.hide {
  display: none;
}

.videohover:hover > .hide {
  display: block;
  /*color: red;*/
}

.containerxt::-webkit-scrollbar {
  display: none;
}

