Django==3.2.11
coinbase-commerce
gunicorn
psycopg2
psycopg2-binary 
dj-database-url
whitenoise
django-crispy-forms
django-allauth
django-taggit
django-tinymce-filebrowser
django-filebrowser-no-grappelli
bootstrap4
django-bootstrap4
django-bootstrap4-form
django-haystack
django-analytical
django-progressbarupload
Image
django-jazzmin
django-flexible-subscriptions
boto3
django-storages
django-payments