{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 135px;">
    <h2 class="post-title" style="color: #d1d1d1;font-family: 'Nunito Sans', sans-serif;font-size: 28px;">Your Account</h2>
    <div class="row" style="margin-bottom:   35px;">
        <div class="col-md-6 col-xl-4">
            <h2 class="post-title" style="color: #d1d1d1;font-family: 'Nunito Sans', sans-serif;font-size: 20px;">Personal Information</h2>
        </div>
        <div class="col-md-6 col-xl-8">
            <p style="margin-bottom: 0px;margin-top: 0px;color: #adadad;font-family: 'Nunito Sans', sans-serif;font-size: 16px;">{{ user }}</p>
            <p style="margin-bottom: 0px;margin-top: 15px;color: #adadad;font-family: 'Nunito Sans', sans-serif;font-size: 16px;">Password: ***************</p><a class="btn btn-dark" type="button" style="margin-top: 5px;padding-top: 7px;padding-bottom: 7px;padding-right: 25px;padding-left: 25px;border-radius: 5px;background: #343434;border-style: none;font-family: 'Nunito Sans', sans-serif;color: #d1d1d1;" href="../../../../../accounts/password/change/">CHANGE PASSWORD</a>
        </div>
    </div>
    <div class="row" style="margin-bottom: 35px;">
        <div class="col-md-6 col-xl-4">
            <h2 class="post-title" style="color: #d1d1d1;font-family: 'Nunito Sans', sans-serif;font-size: 20px;">Membership &amp; Billing</h2>
        </div>
        <div class="col-md-6 col-xl-8">
            <a class="btn btn-dark" type="button" href="/subscriptions/subscribe/" style="margin-top: 5px;padding-top: 7px;padding-bottom: 7px;padding-right: 25px;padding-left: 25px;border-radius: 5px;background: #343434;border-style: none;font-family: 'Nunito Sans', sans-serif;color: #d1d1d1;margin-right: 5px;">SUBSCRIBE</a>
            <div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 35px;"> 
        <div class="col-md-6 col-xl-4">
            <h2 class="post-title" style="color: #d1d1d1;font-family: 'Nunito Sans', sans-serif;font-size: 20px;">Settings</h2>
        </div>
        <div class="col-md-6 col-xl-8"><a class="btn btn-dark" type="button" style="margin-top: 5px;padding-top: 7px;padding-bottom: 7px;padding-right: 25px;padding-left: 25px;border-radius: 5px;background: #343434;border-style: none;font-family: 'Nunito Sans', sans-serif;color: #d1d1d1;margin-right: 5px;" href="../../../../../accounts/logout">LOGOUT</a></div>
    </div>
</div>
{% endblock content %}
